{
	email admin@resumai.ru
}

:80 {
	encode zstd gzip
	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		Content-Security-Policy "default-src 'self'; img-src 'self' data: https:; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline' fonts.googleapis.com; font-src 'self' fonts.gstatic.com; connect-src 'self' https://api.yookassa.ru; frame-src https://yookassa.ru https://yoomoney.ru;"
		-Server
	}

	handle /api/* {
		reverse_proxy api:4000
	}

	handle {
		reverse_proxy web:3000
	}

	log {
		format json
		output stdout
	}
}
